nav {
	width:1280px;
	margin: 0 auto;
  }
  
  nav:before{
	content:''; 
	display:block;
	height:50px;
	width:100%;
	background:#000;
	position:absolute;
	left:0;
	right: 3;
	z-index:-1;
  }
  
  ul{
	right: 3;
	margin:0;
	padding:0;
	list-style:none;
	height:50px;
  }
  
  ul li{
	right: 3;
	float:left;
  }
  
  ul li a{
	right: 3;
	color:#fff;
	display:block;
	height:50px;
	padding:0 30px;
	text-transform:uppercase;
	text-decoration:none;
	line-height:50px;
  }
  
  ul li a:hover{
	background:#d34d43;
  }
@media screen and(max-width: 1200px) {
  .li {
    
    font-size: 80px
  }
    .nav{ display:block}
}  
@media screen and(max-width: 976px) {
  .li {
    font-size: 50px
  }
  .nav{ display:block}
  .nav-item{display:block}
}
  